@model Sweaty_T_Shirt.Models.SweatyTShirt
@using System.Net.Mail;
@using Mvc.Mailer;
<p>
    Dear @ViewBag.RecipientFullName,
</p>
<p>
    @Model.UserProfile.FullName (@Model.UserProfile.Email) 
    just did @Model.Description for @Model.Amount.
</p>
<p>
    Sincerely,
</p>
<p>
    <a href="@Url.Abs(Url.Action("Index", "Home"))">Sweaty T-Shirt.com</a>.
</p>
