@model Sweaty_T_Shirt.Models.SweatyTShirt
@using Sweaty_T_Shirt.Models;
@{
    ViewBag.Title = "Sweaty T-Shirt Home";
    bool isFacebookAuthenticated = Sweaty_T_Shirt.DAL.FacebookRepository.IsFacebookAuthenticated();
    int goal = 0;
    if(Model.Competition != null)
    {
        goal = (Model.Competition.Points.HasValue ? Model.Competition.Points.Value : Model.Competition.MaxPoints);
    }
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            /* set input max length to match the attribute */
            $('input[data-val-length-max]').each(function () {
                 $(this).attr('maxlength', $(this).attr('data-val-length-max'));
            });

            /*this re-wires the competition link to do a colorbox popup instead of posting back to server.*/
            $('a.edit-competition-popup').on('click', function () {
                $.colorbox({ href: $(this).attr('href'), open: true, iframe: true, scrolling: true, width: '700px', height: "700px" });
                return false;
            });

            //causes form to post back when user changes competition
            //rules('remove') prevents client validation
            //IsSave false tells controller this is a drop-down postback, not a save.
            $('#CompetitionID').on('change', function () {
                $('#Description').rules('remove');
                $('#Amount').rules('remove');
                $('#IsSave').val('false');
                $(this).closest('form').submit();
            });

            //IsSave true tells controller this is a save, not a drop-down postback
            $('#Save').on('click', function() {
                $('#IsSave').val('true');
                $('#overlay').show();
                $('#processing').show();
                window.setTimeout(function(){            
                if($('#frmHome').valid()){
                    $('#frmHome').submit();
                }
                else{
                    $('#overlay').hide();
                    $('#processing').hide();
                }}, 1);
            });

            @{if(Model.Competition != null)
            {
                <text>
                //sets up the progress bars on partial view.
                $('.progressbar').each(function () {
                    //does not work unless use parseInt
                    var goal = parseInt(@goal);
                    var value = parseInt($(this).prev().val());
                    $(this).progressbar({ max: goal, value: value })
                    .children('.ui-progressbar-value')
                    .html(value)
                    .css('display','block');
                });

                /*this re-wires the cpb name link to do a colorbox popup instead of posting back to server.*/
                $('a.progressbar-link').on('click', function () {
                    $.colorbox({ href: $(this).attr('href'), open: true, iframe: true, scrolling: true, width: '700px', height: "700px" });
                    return false;
                });
                </text>
            }}
           

            //this re-wires the Delete Me/Deactivate Me From Competition link to do a colorbox warning
            $('a.userincompetition-warning').on('click', function () {
                $('#deleteUserInCompetitionName').text($(this).attr('CompetitionName'));
                $('#deleteAction').text($(this).attr('action'));
                var href = $(this).attr('href');
                $('#deleteUserInCompetitionButton').off();
                $('#deleteUserInCompetitionButton').on('click', function () {
                    document.location.href = href;
                    return true;
                });
                $.colorbox({ inline: true, href: '#deleteUserInCompetitionAlert', open: true, width: '350px', height: "350px" });
                return false;
            });

            //tint the selected sweaty t-shirt(s)
            $('.amount-link').on('click', function () {
                var amount = $(this).attr('id').replace('Amount', '');
                var amountInt = parseInt(amount);

                //set the hidden input and validate.
                $('#Amount').val(amount);
                $("form").validate().form();

                if(amount == 1)
                {
                     $('#AmountLabel').text('Submit 1 Sweaty T-Shirt to the selected competition.');
                }
                else
                {
                     $('#AmountLabel').text('Submit ' + amount + ' Sweaty T-Shirts to the selected competition.');
                }
                

                $('#Amount1').addClass('tint');
                if (amountInt >= 2)
                    $('#Amount2').addClass('tint');
                else
                    $('#Amount2').removeClass('tint');

                if (amountInt >= 3)
                    $('#Amount3').addClass('tint');
                else
                    $('#Amount3').removeClass('tint');
                return false;
            });
        });
    </script>
}
<style type="text/css">

.tint {  
    position: relative;  
    float: left;  
    cursor: pointer;  
}  
  
.tint:before {  
    content: "";  
    display: block;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: rgba(0,255,255, 0.5);  
    -moz-transition: background .3s linear;  
    -webkit-transition: background .3s linear;  
    -ms-transition: background .3s linear;  
    -o-transition: background .3s linear;  
    transition: background .3s linear;  
}  
</style>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Keep this section?</h1>
            </hgroup>
        </div>
    </section>
}

<div style="display:none">
    <div id="deleteUserInCompetitionAlert">
        <p>
            <span id="deleteAction">Delete or Deactivate</span> yourself from competition <span id="deleteUserInCompetitionName"></span>?
        </p>
        <p>Click "Yes" to proceed with the delete, otherwise click "Cancel"</p>
        <input type="button" id="deleteUserInCompetitionButton" value="Yes" />
        <input type="button" onclick="$.colorbox.close();" value="Cancel" />
    </div>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "frmHome" }))
{
    @Html.HiddenFor(o => o.IsSave);
                                  
    <div style="position:absolute; top:-9999px; left:-9999px">
    @Html.EditorFor(m => m.Amount)
    </div>
    
    <div>
	    <span class="message-error">@Html.ValidationSummary(false, "Please correct the following.")</span>
	</div>
    
                                  if (Model.Competitions == null || Model.Competitions.Count == 0)
                                  { 
        <div>You are not enrolled in any Competitions.  You cannot submit a Sweaty T Shirt unless you are enrolled in one or more Competitions.</div>
                                  }
                                  else
                                  {
        <h2>Select a Competition</h2>
        <p>
            @Html.DropDownListFor(m => m.CompetitionID, new SelectList(Model.Competitions, "CompetitionID", "Name"), new { @style = "display:inline" })
            @Html.ActionLink("Deactivate Me", "ToggleUserInCompetition", "Competition",
            new
            {
                competitionID = Model.CompetitionID,
                userID = Model.UserID,
                redirectToAction = "Index",
                redirectToController = "Home"
            },
                new { @style = "display:inline", 
                    @action = "Deactivate", 
                    @class = "userincompetition-warning",
                    @competitionName = Model.Competition.Name
                })
            @Html.ActionLink("Delete Me", "DeleteUserInCompetition", "Competition",
            new
            {
                competitionID = Model.CompetitionID,
                userID = Model.UserID,
                redirectToAction = "Index",
                redirectToController = "Home"
            },
                new { @style = "display:inline", 
                    @action = "Delete", 
                    @class = "userincompetition-warning", 
                    @competitionName = Model.Competition.Name
                })
            <span> From </span>@Html.ActionLink(Model.Competition.Name, "EditCompetition", "Competition", new { competitionID = Model.CompetitionID }, new { @class = "edit-competition-popup" })
        </p>

        <h3><span id="AmountLabel">Submit Sweaty T-Shirt(s) to the selected competition.</span></h3>
        <table style="width:100%;border-collapse:collapse">
            <tr>
                <td><a id="Amount1" class="amount-link"><img src="~/Images/sweaty_tshirt.jpg"></a></td>
                <td><a id="Amount2" class="amount-link"><img src="~/Images/sweaty_tshirt.jpg"></a></td>
                <td><a id="Amount3" class="amount-link"><img src="~/Images/sweaty_tshirt.jpg"></a></td>
            </tr>
        </table>
        <div>
            @Html.LabelFor(m => m.Description, new { @style = "display:inline" }):&nbsp;@Html.TextBoxFor(m => m.Description, new { @style = "display:inline" })
            @if(isFacebookAuthenticated)
            {
                <text>
                &nbsp;&nbsp;@Html.LabelFor(m => m.PostToFacebook, new { @style = "display:inline" }) &nbsp;@Html.EditorFor(m => m.PostToFacebook, new { @style = "display:inline" })
                </text>
            }
        </div>
        <div>
            <input type="button" id="Save" value="Submit"/>
        </div>
    }
}
@if (Model.Competition != null && Model.Competition.CompetitionProgressBars != null && Model.Competition.CompetitionProgressBars.Count > 0)
{
    Html.RenderPartial("_CompetitionProgressBars", Model.Competition);
}

