@model Sweaty_T_Shirt.Models.Competition
@using Sweaty_T_Shirt.Models;
<fieldset>
        <legend>Competitors</legend>
        <table style="width:100%">
        <thead>
            <tr>
                <th>@Model.Name Competitors</th>
                @if (Model.Points.HasValue && Model.EndDate.HasValue)
                {
                    <th>Goal: @Model.Points by @Model.EndDate.Value.ToShortDateString()</th>
                }
                else if (Model.Points.HasValue)
                {
                    <th>Goal: @Model.Points</th>
                }
                else
                {
                    <th>End Date: @Model.EndDate.Value.ToShortDateString()</th>
                } 
            </tr>
        </thead>
        <tbody>
        @foreach (CompetitionProgressBar cpb in Model.CompetitionProgressBars)
        {
            <tr>
                <td style="width:24%">@cpb.FullName</td>
                <td style="width:75%"><input type="hidden" class="amount" value="@cpb.Amount" /><div class="progressbar"></div></td>
            </tr>
        }
        </tbody>
        </table>
    </fieldset>